<div class="row text-center">
  <%= @word.name %>
</div>

<% if @word.definitions %>
  <div class="container text-center">
    <ul>
      <% @word.definitions.each do |definition| %>
        <li><%= definition.text %>, (<%= definition.part_of_speech %>). <em><%= definition.example %></em></li>
      <% end %>
    </ul>
  </div>
<% end %>

<!-- feature: addjquery to hide form adding with button click -->
<form action="/definition" method="post">
  <input id='id' name='id' type='hidden' value='<%= @word.id() %>'>

  <div class="form-group">
    <label for="text">Definition:</label>
    <textarea id="text" class="form-control" name="text" rows="4"></textarea>
  </div>

  <div class="form-group">
    <label for="part_of_speech">Part of Speech</label>
    <input type="text" id="part_of_speech" name="part_of_speech" class="form-control">
  </div>

  <div class="form-group">
    <label for="example">Use it in a sentence</label>
    <textarea class="form-control" id="example" name="example" rows="4"></textarea>
  </div>

  <div class="text-center">
    <button type="submit" class="btn btn-primary">Add the definition!</button>
  </div>
</form>
